[submodule "plugin-interface"]
	path = plugin-interface
	url = ../Qv2rayBase-PluginInterface
[submodule "QvPlugin-LatencyTest/3rdparty/libuv"]
	path = QvPlugin-LatencyTest/3rdparty/libuv
	url = https://github.com/libuv/libuv
[submodule "QvPlugin-LatencyTest/3rdparty/uvw"]
	path = QvPlugin-LatencyTest/3rdparty/uvw
	url = https://github.com/skypjack/uvw
